@import "../../common/mixins.scss";

.cart_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  gap: 1.4rem;

  @include respond(phone) {
    flex: 1;
    gap: 2.4rem;
  }
}

.item_img_box {
  // width: 6.4rem;
}

.item_img {
  width: 7rem;
  display: block;
  border-radius: 0.6rem;
}

.item_details_box {
  font-weight: 700;
  font-size: 1.3rem;

  @include respond(phone) {
    font-size: 1.4rem;
  }
}

.item_name {
  color: var(--color-black);
  line-height: 1.2;

  margin-bottom: 0.6rem;
}

.item_price {
}

.quantity_no {
  font-size: 1.6rem;
  font-weight: 700;
}
