.backdrop {
  position: absolute;
  top: 9.2rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  // min-height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}

.modal {
  position: relative;

  background-color: white;
  border-radius: 0.5rem;
  padding-bottom: 2.4rem;
}
