@import "../../common/mixins.scss";

.product_container {
}

.product_details {
  margin-top: 6.4rem;

  @include respond(tab-land) {
    margin-top: 3.2rem;
  }
}

// TOP
.top {
  display: grid;
  grid-template-columns: 45% 1fr;
  gap: 15rem;
  align-items: center;

  @include respond(tab-land) {
    gap: 3.2rem;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

.img_box {
}

.img {
  width: 100%;
}

.text_box {
}

.new {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  color: var(--color-primary);
  margin-bottom: 1.4rem;

  @include respond(tab-land) {
    font-size: 1.2rem;
  }
}

.product_name {
  font-size: 4.2rem;
  font-weight: 700;
  color: var(--color-black);
  line-height: 1.1;
  letter-spacing: 1.5px;
  margin-bottom: 2.4rem;
  max-width: 10ch;

  @include respond(tab-land) {
    font-size: 3.2rem;
    max-width: 15ch;
  }

  @include respond(phone) {
    max-width: 10ch;
  }
}

.description {
  font-size: 1.5rem;
  line-height: 1.6;

  margin-bottom: 2.4rem;

  @include respond(phone) {
    font-size: 1.6rem;
  }
}

.price {
  font-size: 2rem;
  color: var(--color-black);
  font-weight: 700;

  margin-bottom: 3.2rem;
}

.quantity_group {
  display: flex;
  gap: 1.8rem;
}

// BOTTOM
.bottom {
}

.features {
  margin-top: 12.6rem;
  display: flex;
  gap: 8rem;

  @include respond(tab-pot) {
    flex-direction: column;
  }

  @include respond(phone) {
    margin-top: 10rem;
  }
}

.feature_text_box {
  flex-basis: 60%;

  @include respond(tab-pot) {
    flex: 1;
  }
}

.feature_heading {
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);

  margin-bottom: 2.4rem;
}

.feature_text {
  font-size: 1.5rem;
  line-height: 1.6;
  max-width: 71ch;
  white-space: pre-line;

  @include respond(tab-pot) {
    max-width: 100%;
  }

  @include respond(phone) {
    font-size: 1.6rem;
  }
}

.feature_acc_box {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.acc_container {
  display: flex;
  font-size: 1.6rem;
  gap: 1.4rem;
}

.acc_quantity {
  font-weight: 700;
  color: var(--color-primary);
}

.acc_item {
}

// GALLERY

.gallery {
  margin-top: 12.6rem;
  display: grid;

  gap: 1.8rem;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
  }
}

.gallery_img_box_1 {
}

.gallery_img_box_2 {
}

.gallery_img_box_3 {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.gallery_img {
  object-fit: cover;

  width: 100%;
  height: 100%;
  display: block;
}

.suggestions {
  margin-top: 12.6rem;
  &__heading {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-black);

    margin-bottom: 4.8rem;
  }
}

.suggested_items {
  display: flex;
  gap: 2.4rem;

  @include respond(tab-pot) {
    flex-direction: column;
  }
}

.suggested_img_box {
  margin-bottom: 2.4rem;
}

.suggested_img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include respond(tab-pot) {
  }
}

.suggested_text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggested_product_name {
  color: var(--color-black);
  font-weight: 700;
  font-size: 2.4rem;

  margin-bottom: 3.2rem;
}
