@import "../../common/mixins.scss";

.header {
  background-color: var(--color-secondary);
  position: relative;
  z-index: 10;
}

.nav {
  padding: 3.2rem 0rem;
  border-bottom: 1px solid var(--color-grey-3);

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(tab-land) {
    justify-content: stretch;
    gap: 4.8rem;
  }

  @include respond(tab-pot) {
    gap: 3.8rem;
  }

  @include respond(phone) {
    justify-content: space-between;
  }

  &__list {
    display: flex;
    gap: 4.2rem;

    font-size: 1.4rem;
    font-weight: 700;

    @include respond(tab-land) {
      display: none;
    }
  }

  &__item {
  }

  &__link {
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: all 0.2s;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.active {
  color: var(--color-primary);
}

.menu {
  display: none;
  width: 1.6rem;
  cursor: pointer;
  @include respond(tab-land) {
    display: block;
  }
}

.logo {
  width: 14rem;
}

.cart_group {
  position: relative;

  @include respond(tab-land) {
    margin-left: auto;
  }

  @include respond(phone) {
    margin: 0;
  }
}

.cart_quantity {
  font-size: 1.2rem;
  display: block;
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 1rem;
  width: 1rem;
  padding: 1rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.icon__cart {
  width: 2.4rem;
  cursor: pointer;
}
