@import "./common/mixins.scss";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary: #d87d4a;
  --color-primary-light: #fbaf85;

  --color-secondary: #191919;

  --color-text: rgba(0, 0, 0, 0.5);
  --color-text-light: rgba(255, 255, 255, 0.5);
  --color-placeholder: rgba(0, 0, 0, 0.4);

  --color-grey-1: #f1f1f1;
  --color-grey-2: #fafafa;
  --color-grey-3: rgba(255, 255, 255, 0.1);

  --color-white: #fff;
  --color-black: #000;

  --color-error: #cd2c2c;
  --color-input-border: #cfcfcf;

  // SIZES
  --margin-top-big: 15rem;
  --margin-top-medium: 10rem;
  --margin-top-small: 8rem;

  // tostify
  --toastify-toast-min-height: 5.4rem !important;
  --toastify-toast-max-height: 5.4rem !important;
  --toastify-font-family: "Manrope", sans-serif !important;
  --toastify-color-dark: #38a169 !important;
  --toastify-color-success: #38a169 !important;
  --toastify-icon-color-success: #38a169 !important;

  @include respond(phone) {
    --toastify-toast-min-height: 6.4rem !important;
    --toastify-toast-max-height: 6.4rem !important;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  overflow-x: hidden;

  @include respond(tab-land) {
    font-size: 56.25%;
  }
}

body {
  line-height: 1;
  font-family: "Manrope", sans-serif; // (400,700)
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-grey-2);
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-container {
}

// UTILITIES

.ut-align-center {
  display: flex;
  justify-content: center;
}

.ut-width {
  max-width: 112.5rem;
  flex: 1;
  margin: 0 2.4rem;
}

.ut-product-grid {
}

// MAIN BUTTONS
.product-btn {
  border: none;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;

  @include respond(phone) {
    padding: 1.8rem 3.2rem;
  }

  &--orange {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all 0.3s;

    &:hover {
      background-color: lighten(#d87d4a, 10%);
    }
  }

  &--black {
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all 0.3s;

    &:hover {
      background-color: lighten(#000, 25%);
    }
  }

  &--white {
    background-color: none;
    color: var(--color-black);
    border: 1px solid var(--color-black);
    transition: all 0.3s;

    &:hover {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
}

// products grid
.products_grid {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.product-container {
  display: flex;
  align-items: center;
  gap: 15rem;

  @include respond(tab-land) {
    gap: 3.2rem;
  }

  @include respond(phone) {
    flex-direction: column;
  }

  &--1 {
    justify-content: flex-end;
  }

  &--2 {
    flex-direction: row-reverse;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &--3 {
  }
}

// product gallery
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
