@import "../../common/mixins.scss";

.category_heading {
  background-color: var(--color-secondary);
}

.heading {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 10rem 0;

  @include respond(phone) {
    padding: 5.2rem;
    font-size: 3.2rem;
  }
}
